<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="BrowserName" value="firefox"></parameter>
  <test thread-count="5" name="Test_03">
    <classes>
      <class name="compatablity_testing.Base_clas"/>
      <class name="compatablity_testing.AtitimeLogin"/>
    </classes>
  </test> <!-- Test_03 -->
</suite> <!-- Suite -->
